@use "../../styles/mixins";

.link {
  position: relative;
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;

  &:hover .children {
    .actual {
      transform: translate3d(0, -100%, 0);
    }

    .visual {
      transform: translate3d(0, 0, 0);
    }
  }

  .children {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;

    .actual {
      transition: transform var(--transition-smooth);
    }

    .visual {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 100%, 0);
      transition: transform var(--transition-smooth);
    }
  }

  .underline {
    content: "";
    position: absolute;
    bottom: -30%;
    left: 0;
    width: 100%;
    height: 100%;
    mask: no-repeat center;
    mask-image: url("./underline.svg");
    mask-size: cover;
    background-color: var(--color-text-accent);
  }
}
