@use "../../styles/mixins";

$transition-timing: cubic-bezier(0.23, 0, 0.1, 1);
$transition-duration: 600ms;

.link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;

  &:hover {
    .text {
      transform: translate3d(0, -100%, 0);
    }

    .visual {
      transform: translate3d(0, 0, 0);
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0.2em;
  //   left: 0;
  //   z-index: -1;
  //   width: 100%;
  //   height: 0.125em;
  //   opacity: 1;
  //   transform: skewY(1.2deg);
  //   background-color: var(--color-orange);
  // }

  .text {
    transition: transform $transition-duration $transition-timing;
  }

  .visual {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 100%, 0);
    transition: transform $transition-duration $transition-timing;
  }

  .svgLine {
    position: absolute;
    z-index: -1;
    bottom: -0.1em;
    left: 0;

    > path {
      stroke: var(--color-orange);
      stroke-linecap: round;
      opacity: 0.8;
    }
  }
}
