@use "../../styles/breakpoints";

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;

  @include breakpoints.media-min(md) {
    min-height: 50vh;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .subTitle {
    margin: 0;
    font-size: 22px;
    line-height: 1.4;

    @include breakpoints.media-min(xs) {
      font-size: 28px;
    }

    @include breakpoints.media-min(sm) {
      font-size: 36px;
    }

    @include breakpoints.media-min(lg) {
      font-size: 42px;
    }
  }
}
