@use "../../styles/breakpoints.scss";

.whoAmI {
  .title {
    margin-bottom: 4vw;
  }

  p {
    font-weight: 400;
    line-height: 1.6;
  }

  .firstPart {
    @include breakpoints.media-min(md) {
      width: 75%;
    }

    p {
      margin: 0;
      font-size: 1.25rem;
    }
  }

  .secondPart {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    width: 75%;
    margin-left: auto;

    p {
      margin-top: 0;
      font-size: 0.9rem;
      width: 50%;
    }
  }

  .photo {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(90% - (80% * 0.25));
    margin: 5vw 0 0 auto;
    overflow: hidden;
    aspect-ratio: 16 / 10;

    .parallaxWrapper {
      width: 130%;
      height: 130%;
    }
  }
}
