.projects {
  --color-text-accent: var(--color-purple);

  .title {
    margin-bottom: 4vw;
    text-align: center;
  }

  p {
    margin-top: 0;
    font-size: max(3vw, 18px);
    font-weight: 400;
    line-height: 1.6;

    &:last-child {
      margin: 0;
    }
  }
}
