@use "../../styles/mixins.scss";

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;

    > *:nth-child(2) {
      margin-left: 9vw;
    }
  }

  .button {
    margin-top: 5vw;
  }
}
