$white: #fff;
$neutral-100: #f3f4f5;
$neutral-200: #ecedee;
$neutral-300: #dddee0;
$neutral-400: #d3d3d4;
$neutral-500: #babcbe;
$neutral-600: #757575; // Lightest color that meets the text contrast ratio requirmenets
$neutral-700: #494e52;
$neutral-800: #242629;
$black: #000;
