@use "./colors";

$font-family-primary: "RalewayVariable", arial, helvetica, sans-serif;
$font-family-secondary: "Major Mono Display", arial, helvetica, sans-serif;

$z-index-base: 0;
$z-index-above: 10;
$z-index-below: -10;

$zindex-header: $z-index-above;
$zindex-modal: $z-index-above + $zindex-header;
