@import "./defaults.scss";

/**
 * Variables
 */
:root {
  // Colors
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-100: #f3f4f5;
  --color-neutral-200: #ecedee;
  --color-neutral-300: #dddee0;
  --color-neutral-400: #d3d3d4;
  --color-neutral-500: #babcbe;
  --color-neutral-600: #757575; // Lightest color that meets the text contrast ratio requirmenets
  --color-neutral-700: #494e52;
  --color-neutral-800: #242629;
  --color-neutral-900: #121212;

  --color-red: indianred;
  --color-red-light: lightcoral;
  --color-orange: lightsalmon;
  --color-brown: #c38953;
  --color-green: rgb(71, 141, 80);
  --color-blue-green: lightseagreen;
  --color-blue-light: lightskyblue;
  --color-blue: cornflowerblue;
  --color-purple: mediumpurple;

  --color-background: var(--color-neutral-900);
  --color-text: var(--color-white);
  --color-text-accent: var(--color-brown);

  // fonts
  --font-family-primary: "RalewayVariable", arial, helvetica, sans-serif;
  --font-family-secondary: "Major Mono Display", arial, helvetica, sans-serif;

  // positioning
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-below: -10;
}
